:root {
  color:black;
  font-family: DM Sans, sans-serif;
  font-size:24px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(images/pencil.png), auto;
}


/* Marquee banner */
body>aside {
  border-bottom: 1px solid black;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow-x: hidden;
}

main~aside {
  border-top: 1px solid black;
  border-bottom: 0;
}

.marquee {
  animation: marquee 40s infinite linear;
  display: inline-block;
  width: max-content;
  text-transform: uppercase;
  animation-delay: -15s;
}

p.marquee {
  margin: 0;
  font-size: 0.8em;
}

.marquee span+span {
  padding-left: 1em;
}

body>aside:hover, body>aside:focus {
  cursor: context-menu;
}

body>aside:active {
  cursor: not-allowed;
}

body>aside:hover *, body>aside:focus * {
  animation-play-state: paused;
}

body>aside a {
  color: inherit;
  border-color: inherit;
}

@media (prefers-reduced-motion) {
  * {
    animation: none;
    transition: none;
  }

  .marquee {
    display: block;
    width: initial;
    text-transform: uppercase;
    padding: 1em;
    animation: none;
    transition: none;
    display: none;
  }

  .portfolio figure {
    overflow-y: scroll;
  }

  .portfolio figure div {
    animation: none;
  }
}

/* Horizontal Marquee effect */
@keyframes marquee {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Portfolio Marquee effect */
@keyframes marquee-vertical {
  from {
    transform: translateY(60vh);
  }

  to {
    transform: translateY(-100%);
  }
}

/* Fade in Effect */
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
